body{
  display: flex;
  justify-content: space-around;
  margin-top :5%
}
#plateau{
  display: flex;
  flex-wrap: wrap;
}
.player1{
  background-image: url(./../images/player1.png);
}
.player2{
  background-image: url(./../images/player2.png);
}
.obstacle{
  background-color: darkgrey;
}
.weapon_defaultPlayer1{
  background-image: url(./../images/weapon_defaultPlayer1.png);
}
.weapon_defaultPlayer2{
  background-image: url(./../images/weapon_defaultPlayer2.png);
}
.weapon_arme1{
  background-image: url(./../images/weapon_arme1.jpg);
}
.weapon_arme2{
  background-image: url(./../images/weapon_arme2.jpg);
}
.weapon_arme3{
  background-image: url(./../images/weapon_arme3.jpg);
}
.weapon_arme4{
  background-image: url(./../images/weapon_arme4.png);
}

endscreen {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

endscreen modale{
    width: 25vw;
    height: 25vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

#option{
  margin-top: 5%;
}

.start{
  border: 5px solid rgb(0, 153, 255);
  padding: 5.5rem;
}

input{
  padding: 15px;
  border: 3px solid rgb(0, 153, 255); ;
  
}

button{
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(0, 153, 255);
  background-color: #aaa;
}

button:hover{
  margin-top: 5px;
  padding: 10px;
  border: 3px solid rgb(0, 153, 255);
  border-radius: 20px;
  background-color: rgb(0, 153, 255);
}

.col-5 button{
  margin-left: 25%;
}